<div
  class="container text-center d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h1 class="display-1 fw-bold text-danger">404</h1>

  <h3 class="mb-3">Page Not Found</h3>

  <p class="text-muted mb-4">
    Sorry, the page you are looking for doesn't exist or has been moved.
  </p>

  <img
    src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png"
    alt="Not Found"
    class="img-fluid mb-4"
    style="max-width: 250px"
  />

  <a routerLink="/" class="btn btn-primary px-4"> Go Back Home </a>
</div>
